services:
  server:
    container_name: taskmanager-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    networks:
      - web-network
    environment:
      DBUSER: ${DBUSER}
      DBPASS: ${DBPASS}
      DBHOST: ${DBHOST}
      DBPORT: ${DBPORT}
      DBNAME: ${DBNAME}

  web:
    container_name: taskmanager-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - server
    networks:
      - web-network
    volumes:
      - ./frontend:/app # Mount the local frontend directory for hot-reload
      - /app/node_modules # Prevent overwriting node_modules in the container
    develop:
      watch:
        - action: sync
          path: ./
          target: /src
          ignore:
            - node_modules/
        - action: rebuild
          path: package.json

  nginx:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/nginx.conf
      - ./frontend/dist:/usr/share/nginx/html
    depends_on:
      - web
      - server
    ports:
      - "80:80"
    networks:
      - web-network

networks:
  web-network:
    driver: bridge
