name: CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
        with:
          version: latest

      - name: Build Docker Images
        run: docker compose -f compose.yaml build

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Deploy Frontend
        working-directory: frontend
        run: |
          docker build -t knghollow/taskmanager-frontend:dev .
          docker push knghollow/taskmanager-frontend:dev

      - name: Deploy Backend
        working-directory: backend
        run: |
          docker build -t knghollow/taskmanager-backend .
          docker push knghollow/taskmanager-backend
          
